*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
}
.form-wrapper h1 {
    color: #35df79;
    margin-bottom: 2rem;
}
.form-wrapper {
    width: 50%;
    margin: 150px auto;
}

.form-wrapper .form-control {
    background: transparent;
    color: #fff;
    border: 2px solid #35df79;

}
button {
    background-color: #35df79;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #35df79;
    border-radius: 10px;
    transition: .2s;


}
button:hover {
    background-color: #1ebf5e;
}