<%- include("./partials/header")%>
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="header-text text-center">
                    <h1>Dashboard</h1>
                    <a href="/logout" class="btn btn-danger">Logout</a>
               </div>
           </div>
       </div>
   </div>
<%- include("./partials/footer")%>